* {
	text-decoration: none;
	box-sizing: border-box;
}

.button {
	width: 215px;
	height: 55px;
	border-radius: 5px;
	font-size: 18px;
	color: #333333;
	font-family: "RalewayBold";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.title hr {
	float: right;
	width: 50%;
	border: 2.5px solid #333333;
	margin-top: 20px;
}

.title h2 {
	font-family: "BebasNeueBold";
	font-size: 50px;
	background: white;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}


/***** DESCRIPTION *****/
header {
	height: auto;
	width: 100%;
	background: 
		url(../img/about-background1.jpg)
		-900px center
		no-repeat;
}

header .description-responsive {
	width: 100%;
	max-width: 1200px;
	height: 810px;
	margin: 0 auto;
}

header .fa-bars {
	float: right;
	color: #5a5aff;
	padding: 5px 5px 0 0;
}

header .description-text {
	padding: 100px 0 125px 0;
	width: 260px;
	margin: 0 auto;
}

header .description-text p:nth-of-type(1){
	font-family: "BebasNeueThin";
	color: #333333;
	font-size: 30px;
}

header .description-text p:nth-of-type(2){
	font-family: "BebasNeueBold";
	font-size: 55px;
	color: #5a5aff;
	padding: 30px 0;
}

header .description-text p:nth-of-type(3){
	font-family: "BebasNeue";
	color: #333333;
	font-size: 30px;
}

header .description-button {
	border: 1px solid #707070;
	margin: 0 auto;
}


/**** ABOUT ****/

section.about {
	width: 100%;
	padding-bottom: 75px;
}

section.about .title-about {
	padding: 0 0 0 0;
}

section.about .about-responsive {
	height: auto;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

section.about .about-responsive .about-photo {
	padding-top: 100px;
	width: 60%;
	max-width: 380px;
	margin: 0 auto;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

section.about .about-responsive .about-photo img {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	z-index: 0;

}

section.about .about-responsive .about-photo hr {
	position: relative;
	width: 70%;
	-webkit-transform: translateX(-4%);
	        transform: translateX(-4%);
	border: 2.5px solid #333333;
	margin: 0 auto;
	margin-top: -5px;
	z-index: 1;
}

section.about .about-responsive .about-photo .social-icons {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.fa-stack.fa-lg {
	-webkit-transform: scale(0.5);
	        transform: scale(0.5);
}

section.about .about-responsive .about-photo .social-icons a {
	display: inline-block;
	width: 20%;
}

section.about .about-responsive .about-photo .fa-square {
	color: #4f4f4f;
}

section.about .about-responsive .about-photo a:hover .fa-square {
	color: #5a5aff;
}

section.about .about-responsive .about-text {
	max-width: 590px;
	margin: 0 auto;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

section.about .about-responsive .about-text p {
	text-align: justify;
	color: #A4A4A4;
	font-family: "Roboto";
	font-size: 14px;
	padding-bottom: 40px;
	width: 80%;
	margin: 0 auto;
}

section.about .about-responsive .about-text p:nth-of-type(1) {
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	font-family: "RobotoBold";
	width: 90%;
}

section.about .about-responsive .about-text .about-button {
	background: #4f4f4f;
	margin: 0 auto;
	margin-bottom: 25px;
	color: white;
}

section.about .about-responsive .about-text .about-button:hover {
	background: #5a5aff;
}



/*** SLIDER ***/

.item {
	position: relative;
}

.gradient {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.gradient1 {
	background: rgba(122, 55, 34, 0.2);
}

.gradient2 {
	background: rgba(178, 34, 34, 0.2);
}

.gradient3 {
	background: rgba(60, 179, 113, 0.2);
}

.gradient4 {
	background: rgba(25, 25, 112, 0.2);
}

/*** PHOTOGRAPHY ***/ 

section.photography {
	width: 100%;
	padding-bottom: 50px;
}

.title-photography {
	padding-top: 50px;
	margin-bottom: 75px;
}

.title-photography hr{
	float: left;
}

.title-photography h2 {
	text-align: center;
	font-size: 22px;
}

section.photography .photography-responsive {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
}

section.photography .photography-responsive .column {
	width: 
	max-width: 270px;
	margin: 0 auto;
}

section.photography .photography-responsive .column img:nth-of-type(1){
	padding: 15px 0;

}

section.photography .photography-responsive .column img {
	width: 100%;
	max-width: 270px;
	display: block;
	margin: 0 auto;
}

section.photography .photography-responsive .menu {
	width: 85%;
	margin: 0 auto;
	padding-bottom: 20px;
}

section.photography .photography-responsive .menu ul {
	width: 100%;
	display: inline-block;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section.photography .photography-responsive .menu ul li {
	float: left;
	padding: 5px 15px;
	font-size: 11px;
	font-family: "RalewayBold";
	opacity: 0.7;
	color: grey;
}

section.photography .photography-responsive .menu ul li:hover {
	opacity: 1;
	cursor: pointer;
}

.hr-list {
	display: none;
}

.active-photo {
	color: black;
	opacity: 1.0;
}

/**** SKILLS SECTION ****/

section.skills {
	width: 100%;
	padding-bottom: 50px;
}

section.skills .skills-responsive {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

section.skills .menu > p {
	font-family: "BebasNeueBold";
	font-size: 50px;
	text-align: center;
}

section.skills .skills-responsive .menu .skills-list {
	width: 100%;
	display: inline-block;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 0;
}

section.skills .skills-responsive .menu .skills-list li {
	float: left;
	padding: 5px 15px;
	font-size: 11px;
	font-family: "RalewayBold";
	opacity: 0.7;
	color: grey;	
}

section.skills .skills-responsive .menu .skills-list li:hover {
	opacity: 1;
	cursor: pointer;
}

section.skills .skills-responsive .works-list .work {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

section.skills .skills-responsive .works-list .work img {
	width: 100%;
	max-width: 754px;
	margin: 0 auto;
}

/*** CONTACT SECTION ****/

section.contact {
	width: 100%;
	height: 680px;
	background: 
		url(../img/contact-bg.jpg)
		left center;
}

section.contact .contact-responsive {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

section.contact .title-contact {
	padding-top: 100px;
}

section.contact .title-contact h2 {
	background: transparent;
	font-size: 45px;
}

section.contact .contact-responsive {
	padding-top: 50px;
}

section.contact .contact-responsive p{
	font-size: "RalewayBold";
	text-align: center;
	font-size: 20px;
	margin: 25px 0;

}

section.contact .contact-responsive .contact-form {
	width:  90%;
	max-width: 585px;
	margin: 0 auto;
}

section.contact .contact-responsive .contact-form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

section.contact .contact-responsive .contact-form input:nth-of-type(1),
section.contact .contact-responsive .contact-form input:nth-of-type(2) {
	width: 60%;
	background: transparent;
	height: 45px;
	border: 1px solid black;
	margin: 0 0 15px 0;
	font-family: "RalewayBold";
	font-size: 16px;
}

section.contact .contact-responsive .contact-form textarea {
	width: 80%;
	height: 130px;
	background: transparent;
	border: 1px solid black;
	font-family: "RalewayBold";
	font-size: 16px;
}

.contact-button {
	width: 100%;
	background: #333333;
	border: none;
	border-radius: 0px;
	margin-top: 30px;
	color: white;
}

footer {
	width: 100%;
	height: 115px;
	background: #333333;
	font-size: 18px;
	font-family: "RalewayBold";
	color: #a1a1a1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}


/**** MEDIA QUERIES *****/


@media screen and (min-width: 420px) {

	.fa-stack.fa-lg {
		-webkit-transform: scale(0.75);
		        transform: scale(0.75);
	}

	section.about .about-responsive .about-photo .social-icons {

	}

	section.about .about-responsive .about-photo .social-icons a {
		display: inline-block;
		width: auto;
	}

	section.about .about-responsive .about-photo .social-icons a:nth-of-type(4) {
		padding-right: 20px;
	}

	.title-photography h2 {
		font-size: 29px;
	}

}

@media screen and (min-width: 560px) {
	.title-photography h2 {
		font-size: 36px;
	}

	section.contact .title-contact h2 {
		font-size: 50px;
	}
}


@media screen and (min-width: 720px) {

	header {
		height: 810px;
		width: auto;
		background: 
			url(../img/about-background1.jpg)
			center center
			no-repeat;
	}

	header .fa-bars {
		font-size: 45px;
	}

	header .description-text {
		padding: 100px 0 125px 15px;
		width: 260px;
		margin: 0;
	}

	header .description-text p:nth-of-type(1),
	header .description-text p:nth-of-type(3) {
		font-size: 73px;
	}

	header .description-text p:nth-of-type(2) {
		font-size: 100px;
	}

	header .description-button {
		margin: 0;
		margin: 0 0 0 15px;
	}

	section.about .about-responsive {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	section.about .about-responsive .about-text {
		padding-top: 100px;
		margin: 0;
	}

	section.about .about-responsive .about-text .about-buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		padding-left: 10px;
	}

	section.about .about-responsive .about-text .about-buttons .about-button {
		margin: 0 10px 0 10px;
	}

	section.about .about-responsive .about-text p {
		margin: 0;
		width: auto;
		text-align: left;
		width: auto;
		font-size: 18px;
		padding-left: 20px;
	}

	section.about .about-responsive .about-text p:nth-of-type(1) {
		text-align: left;
	}

	section.about .about-responsive .about-text p:nth-of-type(2),
	section.about .about-responsive .about-text p:nth-of-type(3) {
		font-size: 16px;
		line-height: 25px;
	}

	section.photography {
		padding-bottom: 150px;
	}


	section.photography .photography-responsive .photos {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: none;
		margin: 0 auto;
	}



	section.photography .photography-responsive .photos .column {
		box-sizing: content-box;
		padding: 0 10px;
	}

	.title-photography {
		margin-bottom: 125px;
	}

	.title-photography h2 {
		font-size: 50px;
	}

	section.contact .contact-responsive > p {
		margin-bottom: 85px;
	}

	section.contact .contact-responsive .contact-form form {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	section.contact .contact-responsive .contact-form input:nth-of-type(1),
	section.contact .contact-responsive .contact-form input:nth-of-type(2) {
		width: 48%;
		padding-left: 30px;
	}

	section.contact .contact-responsive .contact-form textarea {
		padding: 20px 0 0 30px;
		width: 100%;
	}
}


@media screen and (min-width: 1240px) {

	header .fa-bars {
		clear: both;
		position: absolute;
		left: 90%;
	}

	section.photography .photography-responsive {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	section.photography .photography-responsive .menu {
		width: 25%;
	}

	section.photography .photography-responsive .photos {
		width: 75%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	section.photography .photography-responsive .photos img {
		width: 270px;
	}

	section.photography .photography-responsive .menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	section.photography .photography-responsive .menu ul {
		position: relative;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;

	}

	section.photography .photography-responsive .menu ul li p {
		display: inline-block;
	}

	section.photography .photography-responsive .menu ul li {

		clear: both;
		padding: 17.5px 0px 17.5px 25px;
		font-size: 16px;
		font-family: "RalewayBold";
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		color: #A4A4A4;
	}

	section.photography .photography-responsive .menu ul li:hover {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		color: black;
		cursor: pointer;
	}

	.hr-list {
		margin-left: 10px;
		width: 50%;
		border: 0.5px solid black;
		color: black;
		display: none;
		position: absolute;
	}

	section.skills {
		padding-bottom: 0px;
	}

	section.skills .skills-responsive {
		height: 720px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	section.skills .skills-responsive .menu {
		width: 25%;
	}

	section.skills .skills-responsive .menu .skills-list {
		clear: both;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	section.skills .menu > p {
		margin-left: -15px;
	}

	section.skills .skills-responsive .menu .skills-list li p {
		display: inline-block;
	}

	section.skills .skills-responsive .menu .skills-list li {

		clear: both;
		padding: 17.5px 0px 17.5px 35px;
		font-size: 16px;
		font-family: "RalewayBold";
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		color: #A4A4A4;
	}

	section.skills .skills-responsive .works-list {
		width: 75%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	section.skills .skills-responsive .works-list .work {
		width: 100%;
	}

}